<launch>
    <arg name="ns1" default="robot1"/>
    <arg name="ns2" default="robot2"/>
    <arg name="ns3" default="robot3"/>
	<arg name="map_name" default="$(find neuronbot2_multibot)/maps/house.yaml" />

    <include file="$(find neuronbot2_nav)/launch/bringup.launch">
        <arg name="namespace" value="$(arg ns1)"/>
	    <arg name="map" value="$(arg map_name)" />
        <arg name="x_pos" value="-7.0"/>
        <arg name="y_pos" value=" 2.0"/>
        <arg name="yaw" value=" 1.57"/>
    </include>
    <rosparam command="load" ns="$(arg ns1)" file="$(find neuronbot2_multibot)/params/multilayer_costmap.yaml" />

    <include file="$(find neuronbot2_nav)/launch/bringup.launch">
        <arg name="namespace" value="$(arg ns2)"/>
	    <arg name="map" value="$(arg map_name)" />
        <arg name="x_pos" value=" 7.0"/>
        <arg name="y_pos" value="-1.0"/>
        <arg name="yaw" value=" 1.57"/>
    </include>
    <rosparam command="load" ns="$(arg ns2)" file="$(find neuronbot2_multibot)/params/multilayer_costmap.yaml" />

    <include file="$(find neuronbot2_nav)/launch/bringup.launch">
        <arg name="namespace" value="$(arg ns3)"/>
	    <arg name="map" value="$(arg map_name)" />
        <arg name="x_pos" value=" 0.5"/>
        <arg name="y_pos" value=" 3.0"/>
        <arg name="yaw" value=" 0.0"/>
    </include>
    <rosparam command="load" ns="$(arg ns3)" file="$(find neuronbot2_multibot)/params/multilayer_costmap.yaml" />

    <!-- Link all the 'xxx/map' frames to the same 'world' frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map1_tf_publisher" args="0 0 0 0 0 0 world $(arg ns1)/map" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="map2_tf_publisher" args="0 0 0 0 0 0 world $(arg ns2)/map" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="map3_tf_publisher" args="0 0 0 0 0 0 world $(arg ns3)/map" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neuronbot2_multibot)/rviz/view_navigation_multibot.rviz" />
</launch>